#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

&left_encoder { status = "okay"; };
&right_encoder { status = "okay"; };

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp C_PP &kp C_PREV &kp C_NEXT
                &kp F15 &mo 1 &kp C_MUTE
                
                >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp PG_DN PG_UP>;
        };
        bt_layer {
            bindings = <
                &bt BT_SEL 1 &bt BT_SEL 0 &kp C_PP
                &bt BT_CLR &trans &bootloader
                
                >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp PG_DN PG_UP>;
        };
    };
};
