#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define default_layer 0
#define bt_layer 1

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
    &kp ESC    &mo 1
    &kp TAB    &kp A
    &kp LSHIFT &kp Z
            >;
        };
        bt_layer {
            bindings = <
    &bt BT_SEL 0    &bootloader
    &bt BT SEL 1   &bt BT_CLR
    &kp LSHIFT      &kp Z
            >;
        };
    };
};